#header {
    background: #000000;
    color: #ffffff;
    display: block;
    overflow: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.logo {
    float: left;
    background: #ff0000;
    display: inline-block;
    font-weight: 900;
    margin-right: 15px;
    padding: 20px;
}

.left-menu {
    float: left;
    background: #000;
    display: inline-block;
}
.left-menu ul {
    list-style: none;
    color: #F0F0F0;
    padding: 0;
    margin: 0;
}

.left-menu ul li {
    display: inline-block;
    padding: 20px;
}

.left-menu ul li a {
    color: #ffffff !important;
}
.left-menu ul li a:hover {
    color: #ff0000 !important;
    text-decoration: none;
    font-weight: 800;
}

.right-menu {
    float: right;
    background: #000000;
    display: inline-block;
    color: #000000;
}

.right-menu ul {
    list-style: none;
    color: #F0F0F0;
    padding: 0;
    margin: 0;
}

.right-menu ul li {
    display: inline-block;
    padding: 20px;
}

.right-menu ul li a {
    color: #ffffff !important;
}
