<div id="header">
  <div class="logo">TESTFLIX</div>
  <div class="left-menu">
    <ul>
      <li><a href="#browse">Browse</a></li>
    </ul>
  </div>
  <div class="right-menu">
    <ul>
      <li><a href="#">Search</a></li>
      <li><a href="#">Bell</a></li>
      <li><a href="#">Usuario</a></li>
    </ul>
  </div>
</div>
<div class="" id="large-image">
  <div class="description-box">
    <h4>TESTFLIX apresenta:</h4>
    <h1>AQUAMAN</h1>
    <h3>JANEIRO,2019</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, necessitatibus. </p>
    <button id="btn-trailer" class="btn btn-danger">Trailer</button>
    <button id="btn-watch" class="btn">Assistir</button>
  </div>
</div>
<div id="browse">
  <app-movie-row></app-movie-row>
</div>

<!-- <router-outlet></router-outlet> -->