#large-image {
    padding: 200px 25px;
    background: url(../../../assets/got.jpg) no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


.description-box {
    width: 50%;
    padding: 10px;
}

.description-box h4 {
    color: #ffffff;
    font-weight: 800;
}
.description-box h3 {
    font-family: Helvetica;
    font-weight: 100;
    font-size: 20px;
    color: #ffffff;
}
.description-box h1 {
    margin: 0;
    font-size: 60px;
    color: #ffffff;
    font-family: Helvetica;
    font-weight: 700; 
}

.description-box p {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
    font-family: Helvetica;
    font-weight: 100; 
}
.description-box button {
    margin-left: 10px;
    font-weight: 500;
}

#btn-watch {
    border: 2px solid #000000;
}
#btn-watch:hover, #btn-trailer:hover {
    background: #ffffff;
    color: #000;

}